
/* h1 {
  text-align: center;
} */

h1 {
  text-align: center;
  background-color: #04aa9c;
  border-style: solid;
  border-color: #04aa9c;
}

button {
  text-align: center;
  background-color: #04aa9c;
  border-style: solid;
  border-color: #04aa9c;
}

table {
  width: 100%;
}

th {
  background-color: #04aa9c;
  height: 20px;
  padding: 15px;
  text-align: left; 
}


tr:nth-child(even) {background-color: #f2f2f2;}

